.nav-link {
    color: white !important
}

#titulosJumbotron {
    background-color: #0A1D29;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#conteudoJumbotron {
    background-color:#3E606F;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
    color: white;
}

.livrosCatalogo {
    border: white;
}

.img-thumbnail {
    height: 240 !important;
    width: 160 !important;
}

.margem {
    margin-left: 750px;
}

#menu {
    background-color: #0A1D29;
}

.active a{
    color: #0A1D29 !important;
}

.entregar {
    background-color: #0A1D29;
    width: 160px;
}

.tabela {
    background-color: #0A1D29 !important;
}

#editar {
    background-color: #0A1D29 !important;
}

#btnRequisitar {
    background-color: #0A1D29 !important;
    width: 160px;
}

.submeter {
    background-color: #0A1D29 !important;
    color: #fff !important;
}

.scrollTabelas {
    height: 300px;
    overflow: scroll;
}

.verLivro img {
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 5px;
}

.verLivro:hover img {
    border-color: #96F1FF;
    opacity: 0.8;
}

#myMap {
    box-sizing: border-box;
    border: 3px solid #fff;
    border-radius: 5px;
}

#emLinha {
    display: inline;
}

/*#ranking{
    
    -webkit-box-shadow: 0px 0px 50px 4px #0A1D29;
    -moz-box-shadow: 0px 0px 50px 4px #0A1D29;
    box-shadow: 0px 0px 50px 4px #0A1D29;
    background-color: #0A1D29;
    font-size: 250%; 
    color: #0A1D29;
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    margin-top: 190px  
}*/

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
     
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #0A1D29;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

.container {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #0A1D29;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px#0A1D29;
  outline: 0 none;
}

/*Estrelas ao pontuar*/
.star-rating {
    direction: rtl;
    display: inline-block;
   
}

.star-rating input[type=radio] {
    display: none
}

.star-rating label {
    color: #bbb;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: #f2b600
}

.checked {
    color: #f2b600;
}

/*Estrelas ao carregar pontuacao*/
.poststar-rating {
    direction: rtl;
    display: inline-block;
   
}

.poststar-rating input[type=radio] {
    display: none
}

.poststar-rating label {
    color: #bbb;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.checked {
    color: #f2b600;
}